.db-add_course {
    margin-top: 30px;
    background-color: #fff;
    box-shadow: var(--box-shadow-default-admin);
}
.db-add_course .tage-add_course {
    display: flex;

    text-align: center;
    padding: 10px 0px;
    margin: 10px 0px;
    color: #fff;
}
.db-add_course .tage-add_course span {
    padding: 10px 0px;
    width: 33.33333%;
    color: var(--color-default_admin);
    border: 1px solid var(--color-default_admin);
}
.db-add_course h3 {
    padding: 20px;
    color: var(--color-default_admin);
}
.form-info_add-course {
    padding-bottom: 10px;
}
.form-course-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    max-width: 700px;
    margin: 0 auto;
}
.form-course-title label {
    margin-right: 20px;
    color: var(--color-default_admin);
}

.form-course-title input {
    width: 500px;
    min-height: 52px;
    border: 1px solid #dee2e6;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    line-height: 52px;
}
.form-course-title input:focus-visible {
    border: 1px solid #dee2e6;
    outline: none;
}
.bnt-check-free {
    position: absolute;
    bottom: -10px;
    right: 0;
}
.text-dc-line {
    text-decoration: line-through;
    background-color: #cfcfcf;
}
.bnt-check-free span {
    color: var(--color-default_admin);
}
.bnt-check-free button {
    padding: 4px 20px;
}
.postion-rele {
    position: relative;
}
.mh-60 {
    min-height: 60px !important;
}
.ql-editor p {
    text-align: left !important;
    font-size: 16px;
    text-decoration: none !important;
}
.ql-editor img {
    max-width: 200px !important;
    max-height: 140px !important;
    object-fit: cover !important;
}
.input-form-title {
    max-height: 200px !important;
}
#config-w-h {
    width: 100% !important;
    height: 300px !important;
}
.des-form-course {
    width: 500px !important;
    border: 1px solid #dee2e6;
}
.form-course-title .select_form-course_title {
    width: 500px !important;
}
.next-component {
    display: flex;
    justify-content: center;
}
.next-component .box-next {
    cursor: pointer;
    display: flex;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 8px 14px;
    margin: 20px 20px;
    border-radius: 10px;
    user-select: none;
    background-color: #39afd1;
    border-color: #39afd1;
    color: #fff;
}
.next-component .box-next:hover {
    border: 1px solid #ff0000;
    background-color: #f1f1f1;
    color: #000;
}
.next-component .box-next:active {
    background-color: #e9e9e9;
}
.next-component .box-next span {
    display: flex;
    font-size: 20px;
}
.active-course_add {
    background-color: #727cf5 !important;
    color: #fff !important;
    cursor: pointer;
}
.result-ecr-input_plus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus_result_end {
    width: 50%;
    height: 46px;
    margin-right: 30px;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    padding-left: 20px;
    padding-right: 10px;
}
.plus_result_end:focus-visible {
    outline: none;
    border: none;
}
.icon_plus_result {
    background-color: #0acf97;
    border-color: #0acf97;
    color: #fff;
    padding: 6px;
    box-shadow: 0 2px 6px 0 rgba(10, 207, 151, 0.5);
    cursor: pointer;
    user-select: none;
}
.result-ecr-input_plus {
    margin: 10px 0px 24px 0px;
}
.result-ecr-input_plus input {
    font-size: 14px;
}
.result-ecr-input_plus input:focus-visible {
    border: 1px solid var(--color-default_admin);
    font-size: 14px;
}
.icon_plus_delete {
    cursor: pointer;
    color: #fff;
    padding: 6px;
    box-shadow: 0 2px 6px 0 rgba(250, 92, 124, 0.5);
    color: #fff;
    background-color: #fa5c7c;
    border-color: #fa5c7c;
    user-select: none;
}
.result-end_course h4 {
    margin-left: 20px;
    color: var(--color-default_admin);
}

.form-course-title_image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    max-width: 700px;
    margin: 0 auto;
}
.upload_file_image-course {
    display: flex;
    padding: 6px 0px;
    width: 100%;
    text-align: center;
    max-width: 100% !important;
    border: 1px solid #000;
    cursor: pointer;
}
.upload_file_image-course span {
    padding-left: 12px;
}
.form-course-title_image label {
    margin-right: 20px;
    color: var(--color-default_admin);
    max-width: 20%;
}

.form-course-title_image input {
    width: 500px;
    padding-left: 12px;
    font-size: 16px;
    color: var(--color-default_admin);
}
.form-course-title_image input:focus-visible {
    border: 1px solid #dee2e6;
    outline: none;
}
.input-upload_image {
    padding: 0px 0px 10px 0px;
    border: 1px solid #cbcbcd;
    overflow: hidden;
}
.image_display--upload_file img {
    max-width: 290px;
    max-height: 160px;
    width: 290px;
    height: 160px;
    object-fit: cover;
}
.image_display--upload_file {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image_file--upload {
    border: 2px solid #dee2e6;
    object-fit: cover;
}
.info_image-file {
    background-color: #ebebeb;
    border: 1px solid #cbcbcd;
    text-align: center;
    padding: 4px;
    width: 290px;
    height: 30px;
    margin-bottom: 10px;
}
