.form-forgetpassword {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form_all_forgetpassword {
    background-color: #faf9ff;
    padding: 50px;
    border: 2px solid #da0b4c50;
    border-radius: 10px;
}

.h2-forgetpassword {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 12px;
}
.input-forgetpassword {
    border: none;
    outline: none;
    border-bottom: 1px solid #df19fb;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
}
.main_form-forgetpassword label {
    padding-left: 12px;
}
.password-forgetpassword {
    margin-bottom: 40px;
}
.forget_password {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.a_forget_password {
    color: #000000;
    opacity: 0.7;
}
.a_forget_password:hover {
    color: #341212;
    opacity: 1;
}
.button-forgetpassword {
    width: 100%;
    font-size: 20px;
    padding: 20px;
    color: #faf9ff;
    background-color: #da0b4e;
    border: none;
    border-radius: 4px;
}
