.pagination_all-course {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.pagination_all-course ul {
    /* width: 60%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pagination_all-course ul li {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 20px;
    /* padding: 20px; */
    width: 40px;
    height: 30px;
    margin: 0px 15px;
}
.pagination_all-course ul li:hover {
    color: #ee4d2d;
}
.left-pagination_all-course {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    margin-right: 20px;
    user-select: none;
}
.right-pagination_all-course {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    margin-left: 20px;
    user-select: none;
}
.active-bnt-pagination {
    background-color: #ee4d2d;
    color: #fff !important;
    border-radius: 2px;
}
